.chat-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    justify-content: space-between;
}

.chat-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-header {
    background-color: #726DA8;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.messages-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 20px;
    color: rgb(58, 49, 82);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ai-message,
.user-message {
    padding: 10px;
    border-radius: 10px;
    max-width: 80%; /* Controls the width of the message box */
    word-wrap: break-word; /* Ensures long words break and wrap */
    margin-bottom: 10px;
}

.ai-message {
    background-color: #A0D2DB;
    align-self: flex-start; /* Align AI message to the left */
}

.user-message {
    background-color: #BEE7E8;
    align-self: flex-end; /* Align User message to the right */
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 10;
}

.input-container input[type="text"] {
    width: 50%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-right: 10px;
    font-size: 16px;
}

.input-container input[type="submit"] {
    padding: 12px 20px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background-color: #726DA8;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-container input[type="submit"]:hover {
    background-color: #5a4b8d;
}
